# Dependency directories
/node_modules/

# Build output
/dist/
/build/

# System files
.DS_Store
Thumbs.db

# Environment files
.env

# Log files
*.log

# IDE-specific files (e.g. VSCode, IntelliJ)
.vscode/
/.idea/

# Next.js cache
.next/

# Vercel deployment directory
/.vercel/

